@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


#banner , #contact , #recipie , #followers {
    margin-bottom: 80px;
}
#banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner-text{
    width: 50%;
    padding-left: 40px;
}
#banner h1{
    color: rgb(87, 87, 87);
    font-family: Montserrat;
    font-size: 60px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -2%;
    text-align: left;
}
p{
    color: rgb(130, 130, 130);
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    letter-spacing: -2%;
    text-align: left;
}
#banner button , #contact button{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 100px;
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.5);
    background: linear-gradient(69.40deg, rgb(251, 162, 79) -6.919%,rgb(255, 30, 30) 144.985%);
    padding: 24px 32px 24px 32px;
    border: none;
}

#contact{
    display: flex;
    align-items: center;
    text-align: left;
    background-image: url('./images/shapes/7.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#contact div{
    flex: 1;
    width: 50%;
}
#contact div> img{
    width: 338px;
    height: 530px;
    margin: 64px 198px 0px 198px;
}
#contact h3 , #recipie h3{
    padding: 0px 48px 0px 48px;
    margin: 32px 0px;
    color: rgb(112, 112, 112);
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0%;
}
#recipie > h3{
    text-align: center;
}
#recipie p{
    text-align: center;
}
#recipie .recipies {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
    
}
#recipie .recipies div{
    border-radius: 30px;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    width: 610px;
    height: 562px;
    padding: 30px 30px 30px 30px;
}
#recipie .recipies img{
    border-radius: 20px;
    width: 550px;
    height: 308px;
    border: 4px dashed rgb(201, 197, 197);

}
#recipie .recipies >h3 , #followers h3{
    color: rgb(24, 25, 31);
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;
}

#followers{
    display: flex;
    justify-content: space-between;
    padding: 64px 165px 64px 165px;
    border-radius: 20px;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    margin: 60px;
}
#followers h1{color: rgb(24, 25, 31);
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0%;
    text-align: center;}
#motivation h3{
    color:rgb(91, 91, 91);
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    line-height: 0px;
    letter-spacing: 0%;
    text-align: center;
}
#motivation p{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 37px;
}
#motivation {
    padding-top: 37px;
    text-align: center;
    width: 100%;
    background-color: black;
}